* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(217, 252, 255, 0.767); */
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}

.Constrainant {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.contain__global {
  position: relative;
  height: 70px;
}

/* 
.contain__global {
  position: relative;
  height: 70px;
}

@media (max-width: 760px) {
  .contain__global {
    height: 60px;
  }
} */
